.loginPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loginForm{
    /* border: 10px solid;
    border-color: red; */
}

/* .form-control {
    display: block;
    width: 60%;
} */

.appLogo img {
    max-width: 100%;  
    max-height: 100%; 
    height: auto;     
    width: auto;      
    object-fit: fill; 
  }
  

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc; }
  
  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter; 
  }
  