
.msgs{
list-style: none;
flex-direction: column;
align-items: end;
height: 92vh;
overflow: scroll;
margin-right: 5%;

}

.msgs::-webkit-scrollbar {
  display: none;
}
.newMsg{
  background-color: #00a884;
  display: inline-block;
  border-radius: 4px;
  
}


.msgSent{
  align-self: end;
}

.msgRcvd{
  align-self: start;
  background-color: white;
}

.msgBody{
  background-image: url("../../public/images/background.png");
   display: flex;
    position: fixed;
    bottom: 0%;
    top:0%;
    right: 20%;
    justify-items: center;
   
}


.sidebarToggled{
  left: 7%;
  max-width: 75% !important;

}

.sidebarNotToggled{
  left: 10%;
  max-width: 78% !important;

}

img.profilePic {
  height: 60px;
}