
.msgs{
list-style: none;
flex-direction: column;
align-items: end;

}

.newMsg{
  background-color: #00a884;
  display: inline-block;
  border-radius: 4px;
  
}

.msgSent{
  align-self: end;
}

.msgRcvd{
  align-self: start;
  background-color: white;
}

.msgBody{
  background-image: url("../../public/images/background.png");
    height: 92vh;
    display: flex;
    position: fixed;
    bottom: 9%;
    top:1%;
    left: 0%;
    right: 20%;
    /* margin: auto !important; */
    justify-items: center;
    max-width: 80% !important;
    overflow-y:scroll;
}