
.msgs{
list-style: none;
flex-direction: column;
align-items: end;

}

.newMsg{
  background-color: #00a884;
  display: inline-block;
  border-radius: 4px;
  
}

.msgSent{
  align-self: end;
}

.msgRcvd{
  align-self: start;
  background-color: white;
}