    .inputMsg {
        display: flex;
        position: fixed;
        bottom: 2%;
        left: 20%;
        right: 20%;
        margin: auto !important;
        justify-items: center;
        max-width: 60% !important;
}

.form-control {
    background-color: white !important;
}

.sendMsgBtn{
    background-color: rgb(25, 135, 84);
    color: white;
}

.sendMsgBtn:hover{
    opacity: 0.9;
}